---

---

<header
  id="navbar"
  class="bg-white/2 fixed -top-3 lg:top-0 flex justify-center items-center pt-5 lg:pt-3 pb-3 w-full border-b border-white/2 z-50 backdrop-blur-md shadow-md"
>
  <nav class="flex flex-row gap-x-3 lg:gap-x-10 opacity-80">
    <a href="#sobre-mi">Sobre Mi</a>
    <a href="#estudios">Estudios</a>
    <a href="#laboral">Experiencia</a>
    <a href="#proyectos">Proyectos</a>
  </nav>
</header>

<!-- <script>
  document.addEventListener("DOMContentLoaded", () => {
    const navbar = document.getElementById("navbar");

    if (!navbar) return;

    window.addEventListener("scroll", () => {
      if (window.scrollY > 50) {
        navbar.classList.add("backdrop-blur-md", "shadow-md");
      } else {
        navbar.classList.remove("backdrop-blur-md", "shadow-md");
      }
    });
  });
</script> -->
