---
import StudyIcon from "../Icons/Study.astro";
import BookMarkIcon from "../Icons/BookMark.astro";
import ExperienceItem from "../components/ExperienceItem.astro";
---

<section id="estudios" class="w-[90%] lg:w-[760px]">
  <h1
    class="text-white text-2xl font-semibold flex items-center gap-x-2 py-5 my-3"
  >
    Educaci칩n <StudyIcon class="size-8" />
  </h1>
  <ul class="list-none space-y-6">
    <ExperienceItem
      title="4Geeks Academy"
      subTitle="Desarrollador de Software Full Stack"
      description="Desarrollo de aplicaciones web completas con HTML, CSS, JavaScript para el frontend, y Python con Flask para el backend."
      date="nov 2024"
    >
      <BookMarkIcon class="size-6" slot="icon" />
    </ExperienceItem>
    <ExperienceItem
      title="Instituto Profesional Virginio Gomez"
      subTitle="Ingeniero de Ejecuci칩n en Computaci칩n e Inform치tica"
      description=""
      date="ago 2021"
    >
      <BookMarkIcon class="size-6" slot="icon" />
    </ExperienceItem>
  </ul>
</section>
