---
import StudyIcon from "../Icons/Study.astro";
import BookMarkIcon from "../Icons/BookMark.astro";
import ExperienceItem from "../components/ExperienceItem.astro";
---

<section id="estudios" class="px-6">
  <h1
    class="text-white text-2xl font-semibold flex items-center gap-x-2 py-5 my-3"
  >
    Educación <StudyIcon class="size-8" />
  </h1>
  <ul class="list-none space-y-6">
    <ExperienceItem
      title="4Geeks Academy"
      subTitle="Desarrollador de Software Full Stack"
      description="Desarrollo de aplicaciones web completas con HTML, CSS, JavaScript y React para el frontend, y Python con Flask para el backend."
      date="nov 2024"
    >
      <BookMarkIcon slot="icon" />
    </ExperienceItem>
    <ExperienceItem
      title="Instituto Profesional Virginio Gomez"
      subTitle="Ingeniero de Ejecución en Computación e Informática"
      description="Desarrollo de software, administración de bases de datos, redes, seguridad informática y gestión de proyectos tecnológicos."
      date="ago 2021"
    >
      <BookMarkIcon slot="icon" />
    </ExperienceItem>
  </ul>
</section>
