---
import Badge from "../components/Badge.astro";
import foto from "../assets/fotoperfil.webp";
import SocialPill from "../components/SocialPill.astro";
import LinkedinIcon from "../Icons/Linkedin.astro";
import GitHubIcon from "../Icons/GitHub.astro";
import GmailIcon from "../Icons/Gmail.astro";
import SendIcon from "../Icons/Send.astro";
import Tooltip from "../components/Tooltip.astro";
import CopyIcon from "../Icons/Copy.astro";
import { CopyButton } from "../components/CopyButton";

const mail = "m.urrutia1991@gmail.com";

const copiarAlPortapapeles = async () => {
  try {
    await navigator.clipboard.writeText(mail);
    alert("Correo copiado al portapapeles");
  } catch (err) {
    console.error("Error al copiar:", err);
  }
};
---

<section id="sobre-mi" class="w-[90%] lg:w-[760px] flex flex-col gap-y-3">
  <div>
    <img
      class="rounded-full size-24 ring-2 ring-[rgba(102,51,238,0.5)] my-4"
      src={foto.src}
      alt="devMarco Foto"
    />
    <h1
      class="text-white text-5xl font-bold flex flex-row items-center gap-x-2 py-3"
    >
      Hey, soy devMarco <a
        href="https://linkedin.com/in/dev-marco-urrutia"
        title="Mi Linkedin"
        target="_blank"
        rel="noopener"
        class="flex justify-center items-center"
      >
        <Badge>Disponible para trabajar</Badge>
      </a>
    </h1>
  </div>
  <h2 class="text-xl opacity-80 py-5">
    🌟 Apasionado por el desarrollo web, enfocado en calidad e innovación.
    Siempre buscando llevar los proyectos a nuevas órbitas 🚀.
  </h2>
  <div class="flex justify-between items-center">
    <nav class="flex gap-x-4 items-center">
      <SocialPill
        href="https://www.linkedin.com/in/dev-marco-urrutia"
        title="Linkedin"
      >
        <LinkedinIcon class="size-6" />
        Linkedin
      </SocialPill>
      <SocialPill href="https://github.com/marcourrutia" title="GitHub">
        <GitHubIcon class="size-6" />
        GitHub
      </SocialPill>
    </nav>
    <div class="flex gap-x-2">
      <div
        class="flex gap-x-2 text-white/80 rounded-full border border-white/10 bg-white/5 py-2 px-4 text-center"
      >
        <GmailIcon class="size-6" />
        <label>{mail}</label>
      </div>
      <Tooltip text="Enviar email">
        <SocialPill href={`mailto:${mail}`}>
          <SendIcon class="size-6" />
        </SocialPill>
      </Tooltip>
      <Tooltip text="Copiar email">
        <CopyButton mail={mail} client:load>
          <CopyIcon />
        </CopyButton>
      </Tooltip>
    </div>
  </div>
</section>
