---
import Badge from "../components/Badge.astro";
import foto from "../assets/fotoperfil.webp";
import SocialPill from "../components/SocialPill.astro";
import LinkedinIcon from "../Icons/Linkedin.astro";
import GitHubIcon from "../Icons/GitHub.astro";
import GmailIcon from "../Icons/Gmail.astro";
import SendIcon from "../Icons/Send.astro";
import Tooltip from "../components/Tooltip.astro";
import CopyIcon from "../Icons/Copy.astro";
import { CopyButton } from "../components/CopyButton";

const mail = "devmarco.web@gmail.com";
---

<section
  id="sobre-mi"
  class="flex flex-col gap-y-3 px-6 items-center w-full my-10"
>
  <div class="w-full">
    <img
      class="rounded-full size-24 ring-2 ring-[rgba(102,51,238,0.5)] my-4"
      src={foto.src}
      alt="devMarco Foto"
    />
    <div class="flex flex-col gap-4 lg:flex-row">
      <h1
        class="text-white text-4xl lg:text-5xl font-bold flex justify-between w-full items-center"
      >
        Hey, soy devMarco
      </h1>
      <a
        href="https://linkedin.com/in/dev-marco-urrutia"
        title="Mi Linkedin"
        target="_blank"
        rel="noopener"
        class="flex items-center"
      >
        <Badge>Disponible para trabajar</Badge>
      </a>
    </div>
  </div>
  <h2 class="text-xl opacity-80 pt-5">
    Desarrollador web full stack ⚡ con experiencia en análisis de bases de datos para apoyar la toma de decisiones estratégicas 📊.
  </h2>
  <h2 class="text-l opacity-70 pb-5">
    Me apasiona ser detallista en casi todos los ámbitos de mi día a día, incluido el desarrollo web. Mi meta a corto plazo es conseguir un trabajo como desarrollador y poder darlo todo en ese rubro, haciéndolo todo como para Dios 🙌 (Colosenses 3:23).
  </h2>
  <div class="flex flex-col lg:flex-row justify-between gap-y-4 w-full">
    <nav class="flex gap-x-2">
      <SocialPill
        href="https://www.linkedin.com/in/dev-marco-urrutia"
        title="Linkedin"
      >
        <LinkedinIcon class="size-6" />
        Linkedin
      </SocialPill>
      <SocialPill href="https://github.com/marcourrutia" title="GitHub">
        <GitHubIcon class="size-6" />
        GitHub
      </SocialPill>
    </nav>
    <div class="flex gap-x-1 w-full justify-between lg:w-fit">
      <div
        class="flex gap-x-2 text-white/80 rounded-full border border-white/10 bg-white/5 py-2 px-4"
      >
        <GmailIcon class="size-5" />
        <label>{mail}</label>
        <CopyButton mail={mail} client:load>
          <Tooltip text="Copiar email">
            <CopyIcon />
          </Tooltip>
        </CopyButton>
      </div>
      <SocialPill href={`mailto:${mail}`}>
        <Tooltip text="Enviar email">
          <SendIcon class="size-6" />
        </Tooltip>
      </SocialPill>
    </div>
  </div>
</section>
