---
import ProjectItem from "../components/ProjectItem.astro";
import ProjectsIcon from "../Icons/ProjectsIcon.astro";
---

<section id="proyectos" class="px-6">
  <h1
    class="text-white text-2xl font-semibold flex items-center gap-x-2 py-5 my-3"
  >
    Proyectos <ProjectsIcon class="size-8" />
  </h1>
  <div class="flex flex-col gap-8">
    <ProjectItem
      image="/assets/wallet-wise-bg.webp"
      alt="Wallet Wise App image"
      title="Wallet Wise"
      description="Wallet Wise es una app de gestión financiera que, además de registrar gastos e ingresos, ofrece consejos personalizados con ChatGPT para optimizar tu presupuesto y mejorar tus hábitos de ahorro."
      repo="https://github.com/marcourrutia/wallet-wise"
      demo="https://wallet-wise-front.vercel.app/"
      tech={[
        { name: "React", icon: "/icons/React.svg", class: "size-6" },
        { name: "CSS", icon: "/icons/CSS.svg", class: "size-6" },
        { name: "Python", icon: "/icons/Python.svg", class: "h-6 w-5" },
        { name: "Flask", icon: "/icons/Flask.svg", class: "size-6 text-green" },
        { name: "JWT", icon: "/icons/JWT.svg", class: "size-6" },
      ]}
    />
    <ProjectItem
      image="/assets/starwarsBlogBG.webp"
      alt="Star Wars Guide image"
      title="Star Wars Guide"
      description="Un sitio web que consume la API de STAR WARS DATABANK para ofrecer una guía rápida del universo de Star Wars. "
      repo="https://github.com/marcourrutia/starwars-blog"
      demo="https://marcourrutia.github.io/starwars-blog/"
      tech={[
        { name: "React", icon: "/icons/React.svg", class: "size-6" },
        { name: "CSS", icon: "/icons/CSS.svg", class: "size-6" },
      ]}
    />
    <ProjectItem
      image="/assets/batallaNavalBG.webp"
      alt="Battleship image"
      title="Batalla Naval"
      description="Revive el clásico juego de Batalla Naval. Enfréntate a la computadora y planea tu estrategia para localizar y hundir su flota antes de que destruya la tuya."
      repo="https://github.com/marcourrutia/BattleShip"
      demo="https://battle-ship-gules-zeta.vercel.app/"
      tech={[
        { name: "React", icon: "/icons/React.svg", class: "size-6" },
        { name: "CSS", icon: "/icons/CSS.svg", class: "size-6" },
        { name: "Tailwind", icon: "/icons/Tailwind.svg", class: "size-6" },
      ]}
    />
  </div>
</section>
